name: Build Desktop app

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    name: Desktop Compile (Linux)
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
          cache: gradle

      - name: Make Gradle executable
        run: chmod +x gradlew

      - name: Desktop compile
        run: ./gradlew :composeApp:compileKotlinDesktop --stacktrace
